# Sanity CMS Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=xb0i0wq8
NEXT_PUBLIC_SANITY_DATASET=production
MONGODB_URI=mongodb+srv://anupsolanki7:bZlSXV1u6zE3Agqr@cluster0.tmzyhdp.mongodb.net/?appName=Cluster0


# Optional: Sanity API token for authenticated requests (server-side only)
SANITY_API_TOKEN=sk3MeFCeTtVAURyk32T3oOLlOuUP0efe5aj4rReI1T4p80AzhnuyNuKozP1nxfrvsA6vb6uXi1DVnDmu8TKHOCCuM21TA4YpmOTFHrcxnmbbJTtLklPC5ga2v5x5rDq9v44IpxN8ALE4LgU5FkAjhfcY39AdYudfVh31UH8JwXIfkFNunXTO

# Optional: Sanity webhook secret for ISR revalidation
SANITY_WEBHOOK_SECRET=your_webhook_secret_here

# Site Configuration
NEXT_PUBLIC_SITE_URL=http://localhost:3000